recursive-include flask_diamond/views/BaseView/templates *
recursive-include flask_diamond/views/BaseView/static *
recursive-include flask_diamond/views/Frontend/templates *
recursive-include flask_diamond/views/Frontend/static *
