{% extends "security/base.html" %}

{% block security_content %}
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <ul>
    {% if security.registerable %}
      <li>
        Don't have an account yet? <a href="{{ url_for_security('register') }}">Create a new account</a>
      </li>
    {% endif %}
      <li>
        Remembered your password? <a href="{{ url_for_security('login') }}">Try to login</a>
      </li>
    </ul>
  </div>

  <div class="page-header">
    <h1>Reset your password</h1>
  </div>

  <form class="form form-horizontal" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
    {{ forgot_password_form.csrf_token }}

    {{ wtf.horizontal_field(forgot_password_form.email) }}

    <div class="col-lg-offset-2">
      <input type="submit" value="Reset password" class="btn btn-primary" />
    </div>
  </form>

  <br />

{% endblock %}

{% block tail_js %}
  {{ super() }}
  <script type="text/javascript">
    $(function() { $($("#email").focus()); });
  </script>
{% endblock %}
